
.spacing {
  padding: 10px;
  padding-left: 0;
  height: 100vh;
}

.topnav_wrapper {
  z-index: 1600 !important;
}

.topnav {
  display: flex;
  justify-content: space-between;
}

.topnav_second {
  display: flex;
  flex-direction: row;
  align-items: center;
}