.menu_background {
  background-color: rgb(167, 189, 226);
}

.item_content {
  padding: 5px 30px;
  height: 100vh;
  width: 100%;
  /* background-image: url("/scott-webb-199470-unsplash.jpg"); */
  /* background-size: contain; */
  overflow-y: scroll;
}

.category_menu_wrapper .delete_category {
  visibility: hidden;
}

.category_menu_wrapper:hover .delete_category{
  visibility: visible;
}

.starting_position {
  text-align: center;
  flex: 1
}