.category_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.item_page {
  display: flex;
  align-items: center;
}


.edit_and_delete {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.item_wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 2fr;

  border: 1px dashed black;
  text-align: center;
  margin: 5px;
  padding: 10px;
}

.item_wrapper p {
  overflow-wrap: break-word;
}

.maximise {
  max-width: 100px;
}

.onHover:hover {
  cursor: pointer;
}